In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mel_estate.csv")

In [3]:
df.head()

,Agency,Price,DateSold,StreetAddress,Postcode,Locality,Latitude,Longitude,LandSize,LandSizeUnit,Bedrooms,Bathrooms,ParkingSpaces,PropertyType
0,First National Real Estate Mike Brown,9500000,2017-06-16,111 Mangans Rd,3140,Lilydale,-37.754930,145.371809,33285,m2,30,16,28,house
1,Marshall White,8150000,2017-05-23,7 Dunraven Avenue,3142,Toorak,-37.845278,145.014403,634,m2,4,3,3,house
2,Aqua Real Estate,7250000,2014-10-17,11 Williams Road,3930,Mount Eliza,-38.174377,145.091247,17184,m2,7,6,5,house
3,Lindellas Real Estate,6850000,2017-02-22,701 Station Street,3128,Box Hill,-37.817247,145.123739,662,m2,1,1,1,house
4,Lindellas Real Estate,6680000,2016-08-11,9-11 Ellingworth Parade,3128,Box Hill,-37.820382,145.124578,928,m2,2,2,1,house

In [4]:
df.shape

(98377, 14)

In [7]:
!dir

 驱动器 C 中的卷是 Windows
 卷的序列号是 9EF4-9E16

 C:\Users\robin\apps\mel_estate 的目录

2018/08/15  09:45    <DIR>          .
2018/08/15  09:45    <DIR>          ..
2018/08/15  09:45    <DIR>          .ipynb_checkpoints
2018/08/15  09:19            15,069 app.py
2018/08/01  21:47        11,100,645 mel_estate.csv
2018/08/15  09:45                72 Untitled.ipynb
2018/08/15  09:42    <DIR>          venv
               3 个文件     11,115,786 字节
               4 个目录  3,876,540,416 可用字节